@import "../AboutMe/AboutMe.module.scss";
//This is for the greyish background
.mainContainer {
  background: rgb(248, 248, 250);
  background: linear-gradient(
    178deg,
    rgba(248, 248, 250, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
  padding: 55px 0px;
  h4 {
    font-weight: 400;

    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: $darkViolet;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  width: 60%;
  font-family: "Ubuntu", sans-serif;
  margin: 55px auto;

  @media (max-width: 1024px) {
    width: 90%;
  }
}

.cardContainer {
  margin: 100px auto;
  transform-style: preserve-3d;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 55px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;

  @media (max-width: 1024px) {
    padding: 55px 0px;
    border-radius: 0px;
    margin: 50px auto;
    flex-direction: column;
  }
}

.itemContainer {
  min-height: 380px;
  display: flex;
  flex-direction: row;

  @media (max-width: 1024px) {
    flex-direction: column;
    min-height: 280px;
  }
}
.cardText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  order: 1;

  h2 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    text-shadow: 3px 3px 10px rgba(31, 38, 135, 0.37);
    cursor: pointer;
    font-weight: 500;
  }
  h3 {
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 300;
  }
  @media (max-width: 1024px) {
    h2 {
      font-size: 5vw;
    }
    h3 {
      font-size: 3vw;
      margin: 25px auto;
    }
    padding: 25px 0px;
  }
}

.stackUsed {
  display: flex;
  justify-content: center;

  width: 100%;
  div {
    font-size: 0.8vw;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 62px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

    padding: 10px;
    margin: 5px;
  }

  @media (max-width: 1024px) {
    div {
      font-size: 2.5vw;
    }
  }
}

.links {
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;

  width: 50%;

  svg {
    cursor: pointer;

    transition: 0.1s;
    &:hover {
      transform: scale(1.5);
    }
  }
  @media (max-width: 1024px) {
    padding-top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    margin-top: 25px;
  }
}

.leftOrder {
  order: -1;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}

.rightOrder {
  order: 1;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    margin: 0 auto;
    order: -1;
  }
}

.description {
  border: none;
}
