.parralax {
  transform-style: preserve-3d;
  display: flex;

  padding: 15px;
  @media (max-width: 767px) {
    padding: 15px;
  }
}

.cardImageWrapper {
  transform: translateZ(60px);
  width: 100%;

  display: flex;
  cursor: pointer;
  transition: 1s;
  img {
    width: 100%;
    object-fit: contain;
  }
  @media (max-width: 1024px) {
  }
}

.leftOrder {
  display: flex;
  flex-direction: column;
  margin-left: -200px;
  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}

.rightOrder {
  display: flex;
  flex-direction: column;

  margin-right: -200px;
  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}
