@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
$darkViolet: #221e41;
$lightViolet: #6e00ff;
$pinkViolet: rgb(255, 100, 203);
.mainContainer {
  width: 100%;

  display: flex;
  height: 100%;
  align-items: flex-end;
}
.leftWrapper {
  background-color: $darkViolet;
  flex: 1.5;
  // border-bottom-right-radius: 167px;

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  header {
    flex: 1 1;
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    div {
      flex: 1;
      img {
        width: 20%;
      }
    }
    nav {
      display: flex;
      justify-content: flex-end;

      flex: 5;
      ul {
        width: 40%;
        display: flex;

        justify-content: space-between;

        list-style: none;
        a {
          color: rgb(214, 213, 213);
          text-decoration: none;
          cursor: pointer;
          font-size: 14px;
          font-family: "Ubuntu", sans-serif;
          transition: 0.3s;
          &:hover {
            color: white;
          }
        }
      }
    }
    @media (max-width: 1024px) {
      div {
        img {
          width: 10%;
        }
      }
      nav {
        display: none;
      }
    }
    @media (max-width: 1500px) and (min-width: 1025px) {
      nav {
        ul {
          width: 80%;
        }
      }
    }
  }
  // ACtive class for navigation
  .active {
    color: white;
  }
  .lightWrapper {
    background-color: $lightViolet;
    border-top-right-radius: 167px;
    border-bottom-right-radius: 167px;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .mobilHeaderSVG {
      display: none;
      @media (max-width: 1024px) {
        display: flex;
        align-self: flex-end;
        width: 80%;
        margin-right: -30px;
        height: 100%;
      }
    }
    div {
      margin-top: 200px;
      width: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
    h1 {
      font-size: 5vw;
      margin: 0;

      margin-bottom: -20px;
      color: white;
      font-family: "Ubuntu", sans-serif;
      font-weight: 800;
    }
    h2 {
      font-size: 2vw;
      font-weight: normal;
      margin: 15px 0;
      font-weight: 400;
      color: white;
      display: block;
      font-family: "Ubuntu", sans-serif;
    }
    button {
      border-top-right-radius: 167px;
      border-bottom-right-radius: 167px;
      font-size: 15px;
      margin-top: 15px;
      color: $darkViolet;
      outline: none;
      color: white;
      cursor: pointer;
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;
      background-color: $pinkViolet;
      width: 40%;
      padding: 15px 0px;
      border: none;
      transition: 0.1s;
      &:hover {
        background-color: #e83e8c;
      }
    }

    @media (max-width: 1024px) {
      div {
        width: 80%;
        margin-top: 100px;
        text-align: center;
      }
      h1 {
        font-size: 11vw;
        width: 100%;
      }
      h2 {
        font-size: 5vw;
        width: 100%;
      }
      button {
        border-radius: 167px;
        margin: 0 auto;
        width: 60%;
        font-size: 2vw;
      }
    }
    @media (max-width: 1300px) and (min-width: 1025px) {
      div {
        width: 90%;
      }
    }
  }
}

.rightWrapper {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  height: 89vh;
  //trigger just empty div to check useView when to trigger animation
  .triggerSocialAnime {
    flex: 0;
  }
  //container for the socials
  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    height: 10%;

    align-self: flex-start;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    //This one is the inside with the spans that makes animation when scroll
    div {
      display: flex;
      justify-content: space-evenly;
      position: fixed;
      top: 0;
      width: 50px;
      margin-top: 20px;
      z-index: 9999;
      span {
        background-color: $darkViolet;
        color: white;
        padding: 6px 8px;
        padding-top: 8px;
        border-radius: 100%;
        margin: 5px;
        cursor: pointer;
        transition: 1s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.notinView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
  span {
    margin: 5px auto !important;
  }
}

.showArrowUp {
  display: flex;
  position: fixed;
  background-color: $pinkViolet;
  font-size: 3vw;
  bottom: 5%;
  right: 8%;
  border-radius: 100%;
  cursor: pointer;
  z-index: 99;
  @media (max-width: 1024px) {
    padding: 15px;
    bottom: 2%;
    right: 5%;
  }
}
.hideArrowUp {
  display: none;
}

.popUpThemeGmail {
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  position: fixed;
  height: 60px !important;
  padding-bottom: 15px !important;
  font-family: "Ubuntu", sans-serif;
}

.backtoTopPop {
  height: 20px !important;
  padding-bottom: 25px !important;
  font-family: "Ubuntu", sans-serif;
}
